/********************************
*********************************
			BODY
*********************************
*********************************/

body {
	background-color: #fcfcfc;
	font-family: "Roboto";
	margin: 0;
}

/********************************
*********************************
			NAVBAR
*********************************
*********************************/

#header {
	background-color: #27ae60;
	margin: 0 auto 0;
	padding-top: 0px;
	position: relative;
}

#header p {
	font-size: 24px;
	margin: 0px;
	padding: 8px;
	padding-left: 15px;
	font-weight: 500;
	color: white;
}

/********************************
*********************************
			CONTENT
*********************************
*********************************/
.intro {
	text-align: center;
}

.intro h1 {
    font-size: 19px;
    font-weight: 400;
}

.btn.btn-success {
	background-color: #27ae60;
    border-color: #27ae60;
}

/********************************
			form
*********************************/

.item-count-select {
	text-align: center;
}

#item-count-selector {
    padding: 8px 10px;
    border: 1px solid #27ae60;
    box-shadow: none;
    background: transparent;
    background-image: none;
    /*-webkit-appearance: initial;*/
    font-weight: 500;
    color: #27ae60;
    font-size: 20px;	
}

form {
	padding: 15px;
}

.bill-info-form {
	text-align: center;
	margin: 0 15px 15px;
}

input {
	font-family: 'Roboto';
	padding: 12px 20px;
	margin: 8px 0;
	border-radius: 4px;
    border: 1px #27ae60 solid;
}

form button {
	padding: 10px 30px;
    background-color: #27ae60;
    color: white;
    font-weight: 500;
    border-radius: 4px;
    border: 0px;
    margin: 8px;	
}

form button:hover {
    background-color: #2ecc71;
}